{% extends 'default/index.html.twig' %}
{% block body %}

<div class="lista">
{% if movies | length == 0 %}

        <p>Brak filmu o okreslonych kryteriach.</p>

{% else %}

    {% for movie in movies %}
 
			    <h1>{{ movie.name }}</h1>

				<a href="{{ movie.cover }}"><img class="img-shadow" src="{{ movie.cover }}" style="width: 100%"  onerror="this.style.display='none'"/></a>

				<h2>{{ movie.description }}</h2>

				<p>{{ movie.actorsList }}</br>

				Gatunek: {{ movie.genre }}</br>

				Popularnosc: {{ movie.ordersCount }}</p>

    {% endfor %}

{% endif %}
</div>
{% endblock body%}