{% extends 'default/index.html.twig' %}
{% block body %}
<p>Wybierz gatunek filmu:</p>
  <a href="{{path('gatunek')}}/komedia">komedia</a> </br>
  <a href="{{path('gatunek')}}/dramat">dramat</a> </br>
  <a href="{{path('gatunek')}}/sci-fi">sci-fi </a> </br>
  <a href="{{path('gatunek')}}/musical">musical</a> </br>
  <a href="{{path('gatunek')}}/horror">horror</a> </br>
  <a href="{{path('gatunek')}}/animowane">animowane</a> </br>
  <a href="{{path('gatunek')}}/familijne">familijne</a> </br>
  <a href="{{path('gatunek')}}/przygodowe">przygodowe</a> </br>
  <a href="{{path('gatunek')}}/krymina³">kryminal</a> </br>
  <a href="{{path('gatunek')}}/western">western</a> </br>
  <a href="{{path('gatunek')}}/fantasy">fantasy</a> </br>
  


{% endblock body%}