
{% extends 'default/index.html.twig' %}
{% block body %}

<div class="lista">
{% if movies | length == 0 %}

        <p>Brak filmow o okreslonych kryteriach.</p>

{% else %}
	<table border="1">
    {% for movie in movies %}
        <tr>
			<td>
			    <a style="color:inherit" href="{{path('film2')}}/{{movie.id}}">{{ movie.name }}</a>
			</td>
			<td>
				<a href="{{ movie.cover }}"><img class="img-shadow" src="{{ movie.cover }}" style="width: 50%"  onerror="this.style.display='none'"/></a>
			</td>
			<td>
				{{ movie.description }}
			</td>
			<td>
				{{ movie.actorsList }}
			</td>
			<td>
				{{ movie.genre }}
			</td>
			<td>
				{{ movie.ordersCount }}
			</td>
		</tr>
    {% endfor %}
	</table>
{% endif %}
</div>
{% endblock body%}